.planets {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(315deg, #3dcc7d 0%, #09c6f9 74%);
}