body {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

	background-position: center;
	background-size: cover;
	color: white;
}

.planets {
	font-family: 'Odibee Sans', cursive;
	height: 100vh;

	&__title {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		margin: 15px;
		h1 {
			text-transform: uppercase;
			font-size: 3rem;
		}
		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			span {
				color: white;
				font-size: 2.5rem;
			}
		}
		ul {
			position: absolute;
			right: 0px;
			top: 50px;
			list-style: none;
			font-size: 2rem;
			transform: scale(0);
			transition: transform 0.3s, opacity 0.3s;
			transform-origin: top right;
			opacity: 0;
			&.active {
				transform: scale(1);
				opacity: 1;
			}
      li a{
        text-decoration: none;
        color: inherit;
      }
		}
	}
}
